<template name="aboutUs">
	<div class="well col-xs-8 col-xs-offset-2">
		 <p>NUI Galway are offering a Science Summer Camps for primary school going children - aged between 4 and 12 years old - during the months of June and July 2017. The Camp will run from 09:30 to 15:00 and parents are advised that if they wish to collect their child early on any day they must inform the Camp Manager in writing.</p>
		 <br>
		 <p>We divide the children by age into 3 groups:</p>
		 <br>
		 <p><b>Junior-Scientists:	4 to 6 years old – Junior/Senior Infants</b></p>
		 <p><b>Intermediate-Scientists:	7 to 9 years old – 1st to 3rd Class</b></p>
		 <p><b>Senior Scientists:	10 to 12 years old – 4th to 6th Class</b></p>
		 <br>
		 <p>Each child will remain in the group assigned to them for the full week because activities are designed specifically for each age group.</p>
		 <br>
		 <p>We are passionate about encouraging children to appreciate and love science - that is why our Science Summer Camp offers a hands-on and interactive approach. It includes workshops, fun demonstrations, messy experiments, quizzes, games and simple facts covering all aspects of science. Topics covered include colourful chemistry, physics, potions, food science, electricity, engineering, water, crystals, light, sound and much, much more.</p>
		 <br>
		 <p>All our daily activities are designed to ensure everyone gets involved, has fun and above all are safe and happy.</p>
		 <p>All our staff are carefully selected and are child friendly, professional, fully trained and Garda vetted. Children must obey all instructions given by their leader, be safety conscious at all times and no one is allowed to leave the campus without the permission of the Camp Manager.</p>
		 <br>
		 <p><b>Please note:</b></p>
	 	<p>Photographs/Videos may be taken during the camp – for promotional reasons - and you must give your permission in writing at time of registration.</p>
		 <br>
		 <div align="center">
			 <img src="/images/microscope.png"><img src="/images/testtube.png"><img src="/images/bunsen.png">
		 </div>
	 </div>
 </template>
 