<template name="camp">
	<div class="well col-xs-8 col-xs-offset-2">
		<table border = "1" style="width:100%; background-color: #ffffcc;">
			<tr>
				<th>Day/Time</th>
				<th>MONDAY</th>
				<th>TUESDAY</th>
				<th>WEDNESDAY</th>
				<th>THURSDAY</th>
				<th>FRIDAY</th>
			</tr>
			<tr>
				<td>09:30 – 10:00</td>
				<td>Registration, Welcome Address and Introductions.</td>
				<td>Roll-Call, Review of Previous Day and outline of today’s activities</td>
				<td>Roll-Call, Review of Previous Day and outline of today’s activities</td>
				<td>Roll-Call, Review of Previous Day and outline of today’s activities</td>
				<td>Roll-Call, Review of Previous Day and outline of today’s activities</td>
			</tr>
			<tr>
				<td>10:00 – 11:00</td>
				<td>All about Albert Einstein</td>
				<td>All about Thomas Edison</td>
				<td>All about Isaac Newton</td>
				<td>All about Louis Pasteur</td>
				<td>All about Marie Curie</td>
			</tr>
			<tr>
				<td>11:00 – 11:15</td>
				<td>BREAK</td>
				<td>BREAK</td>
				<td>BREAK</td>
				<td>BREAK</td>
				<td>BREAK</td>
			</tr>
			<tr>
				<td>11:15 – 12:30</td>
				<td>Messy Experiments</td>
				<td>Messy Experiments</td>
				<td>Messy Experiments</td>
				<td>Messy Experiments</td>
				<td>Messy Experiments</td>
			</tr>
			<tr>
				<td>12:30 – 13:30</td>
				<td>LUNCH <br>Fully Supervised</td>
				<td>LUNCH <br>Fully Supervised</td>
				<td>LUNCH <br>Fully Supervised</td>
				<td>LUNCH <br>Fully Supervised</td>
				<td>LUNCH <br>Fully Supervised</td>
			</tr>
			<tr>
				<td>13:00 – 14:30</td>
				<td>States of Matter</td>
				<td>Light and Sound</td>
				<td>Solar System</td>
				<td>Solar Energy</td>
				<td>Food Science</td>
			</tr>
			<tr>
				<td>14:30 – 15:00</td>
				<td>Quiz</td>
				<td>Games</td>
				<td>Quiz</td>
				<td>Games</td>
				<td>Table Quiz with prizes and end of week Party</td>
			</tr>
		</table>
		<br>
		<p><b>Break / Lunch</b></p>
		<p>There will be two breaks each day – one at 11 a.m. and Lunch at 12:30. 
		Each child will bring a packed lunch – no treats or fizzy drinks allowed. Ensure your child has plenty of drinks especially in hot weather. These breaks will be fully supervised by our trained staff. Weather permitting some lunch breaks will be held outdoor.</p>
		<br>
		<p><b>Clothing</b></p>
		<p>Please ensure your child wears suitable clothing to the Science Summer Camp – if weather is hot please provide your child with a sun hat and apply sun protection cream and in inclement weather your child should wear appropriate rain gear. Ensure your child’s belongings are all fully labelled – any lost property will be on displayed in the main hall outside the lab room at the end of each day. Each child will be provided with a white lab coat to protect their clothing.</p>
		<br>
		<p><b>Collection Arrangements</b></p>
		<p>Camp ends at 3.00 p.m. Please ensure to be there on time to collect your child because no child will be allowed to leave the building until a parent/guardian is at the collection point. In the interest of safety, we will keep the children in their allocated groups, and the younger group (Junior Scientists) will be escorted to their parent/guardian first.</p>
	</div>
 </template>
 