<template name="comments">
	<div class="well col-xs-6 col-xs-offset-3">
		<div class="row col-xs-10 col-xs-offset-1">
			<form class="form-horizontal" role="form" id="postComment">
				<div class="row">
					<div class="form-group">
						<div class="col-xs-12" id="well-post">
							<textarea class="form-control required" rows="3" id="inputPost"
							placeholder="Got something to say?" maxlength="140"></textarea>
							<label id="charRemaining" for="inputPost">{{charRemaining}}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-3">
						<button type="submit" class="btn btn-primary">Post</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row col-sm-8 col-sm-offset-2 textPost">
		<div class="row">
		{{#each Comments}}
			<div class="well">
				<div class="row">
					<div class="col-sm-2 pull-left">
						{{>avatar userId=createdBy shape="rounded"}}
					</div>
					<div class="col-sm-3 pull-right">
						{{timeDiff (date)}}
					</div>
				</div>
				<div class="row spacer">
					<div class="col-sm-2">
						<input class="form-control hidden" type="text" id="edit{{_id}}" value={{comment}}>
							<div id="comment{{_id}}">
								{{comment}}
							</div>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</template>