<template name="contactUs">
	<div class="well col-xs-8 col-xs-offset-2">
		<div class="well col-xs-6 col-xs-offset-3">
			 <b><h4>NUIG SCIENCE SUMMER SCHOOL</h4>
			 <br>
			 <p>Arts/Science Building, <br> NUI Galway, <br> University Road, <br> Galway</p>
			 <br>
			 <p>Tel: 353 (0)91 524411</p>
			 <br>
			 <p>Email: a.einstein22@nuigalway.ie</p>
			 </b>
		 </div>
		 <br>
		 <br>
		 <div align="center">
			 <iframe width="580" height="400" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAM8F45YdG8XaVKY5tJX8crfvhSplJBYPI&q=National+University+of+Ireland,+University+Road,+Galway" allowfullscreen></iframe>
	 	</div>
		 <br>
		 <br>
		 <br>
		 <div align="center">
		 <img class="map" src="images/mapOfCampus.jpg">
		 </div>
		 <br>
		 <br>
		 <br>
		 <p><b>To contact us, please log in:</b></p>
		 <br>
		 {{#if currentUser}}
	 		{{> accountForm}}
		 {{else}}
	 		{{> noAccountForm}}
		 {{/if}}
	 </div>
 </template>

 <template name="noAccountForm">
 	 <form class="form" role="form" id="postEmail">
		 <p>Your Email (required)</p>
		 <input type="email" name="registerEmail">
		 <br>
		 <br>
		 <p>Your Name (required)</p>
		 <input name="nameEmail">
		 <br>
		 <br>
		 <p>Your Message</p>
		 <textarea class="form control required" rows="1" id="emailText"
		 placeholder="Enter your message..."></textarea>
		 <input type="submit" class="btn btn-primary" value="Send">
	</form>
 </template>

 <template name="accountForm">
  	<form class="form" role="form" id="postEmailAccount">
	 	<p>Your Message</p>
	 	 <textarea class="form control required" rows="1" id="emailTextAccount" placeholder="Enter your message..."></textarea>
		 <input type="submit" id="emailSendAccount" class="btn btn-primary" value="Send">
	 </form>
 </template>
 