<head>
  <title>myapp</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
	{{> navbar}}
</body>

<template name = "home">
	<div class ="container">
		<div class="jumbotron center">
			<h2 id="center">Project by a Team has No Name for Software Engineering</h2>
			<p id="center">This is a sample Jumbotron to see how useful and customisable they are.</p>
		</div>
	</div>
	<h1 id="center">Temp Homepage for Software Engineering Project </h1>
	 <img src="/images/b3f.gif" alt="Of Happenings" class="img-circle img-responsive">
</template>

<template name="navbar">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">TestWebsite</a>
			</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/">Home </a></li>
				<li><a href="contactUs">Contact Us </a></li>
				<li><a href="findUs">Find Us</a></li>
				<li><a href="aboutUs">About Us</a></li>
			</ul>
		</div>
		</div>
	</nav>
</template>
 